

#header{
    background-image: url('realMadridBanner.jpg');
    height:80vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

}

h1 {
    text-align: center;
    color: darkblue;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

body{
    margin: 0;
    padding: 0;
    background: #9a9b9c;
}
body{
    margin: 0;
    padding: 0;
    background: #9a9b9c;
}
.card-group{
    padding: 80px 20px;

}
.card h1 {
    color: #fff;
    padding: 10px;
    margin-bottom: 100px;
}

 .card .card-box {
     background: #fff;
    text-align: center;
    margin-bottom: 150px;
}
    .card .card-box .content {
        position: relative;
        background: #fff;
        width: 100%;
        height: 200px;
        padding: 20px 0 10px;
        font-size: 20px;

    }
    .card .card-box .content .header {
        position: absolute;
        background: orange;
        display: block;
        height: 150px;
        width: 100%;
        top: 0;
        text-align: center;

    }
      .card .card-box .content .footer {
        position: absolute;
        background: orange;
        width: 100%;
        bottom: 0;
        height: 50px;
      }
    .card .card-box .content .header h2 {
        line-height: 190px;
    }

     .card .card-box .content .footer h3 {
        line-height: 50px;
     }

    .card .card-box .content .header img {
        position: absolute;
        left: 30%;
        top: 85px;
        max-width: 150px;
        min-width: 150px;
        max-height: 150px;
        min-height: 150px;
        border: 150px solid #fff;
        border-radius: 50%;
         }
.card-group.card-group:hover .content .header {
    transition: 2s;
    transform: translate(-150px);
    background: yellow;
}

.card-group.our-team-box:hover .content .footer {
    transition: 2s;
    transform: translate(50px);
    background: yellow;

}
 .our-team .our-team-box:hover .content .header img {
    transition: 2s;
    border: 15px solid yellow;

 }
 /*
@media (max-width: 1000px) {
    .our-team h1 {
        width: 300px;
    }
}
    */
    card-body{
        padding: 20px;
        background-color: rgb(0, 255, 132);
        border-radius: 10px;
    }